* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(24, 23, 23);
}

#bg {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  word-spacing: 0.3rem;
  color: white;
  line-height: 2.2rem;
  margin-bottom: 4rem;
  font-family: 'Kanit', sans-serif;
}

#role{
  line-height: 1.4rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13em;
  width: 13em;
  overflow: hidden;
  border-radius: 50%;
  border: 0.2em solid white;
  /* margin-top: 2.5em; why extra space ? */
}

#profile img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 3rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* padding: 8px;
  border-radius: 8px;
  border: 2px solid white; checkout here for extra look ! */
}

.icon {
  outline: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-weight: 700;
}

.i {
  height: 2.4rem;
  width: 2.4rem;
  margin: 0.5rem;
  border: 0.2rem solid black;
  border-radius: 0.7rem;
  background-color: white;
  padding: 0.2rem;
}

#display {
  background-color: white;
  height: 21rem;
  width: 100%;
  margin-top: 1.7rem;
}
